// -*- closure-template-html -*-

{namespace arblog.theme.isimple_archimag.tmpl}

{template startBody}
    <a href="https://github.com/archimag">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>
{/template}

{template pageSidebar}
    <div id="sidebar">
        <div id="northsidebar" class="sidebar">
            <div class="widget feeds_weight">
                <div class="content">
                    <a title="Subscribe to this blog..." class="feedrss" href="/feeds/atom">Subscribe to this blog</a>
                    <br/>
                    
                    {if $atomFeedHref}
                        <a href="{$atomFeedHref}" class="feedrss">Articles with “{$tag}”</a>
                        <br/>
                    {/if}
                    
                    <div class="fixed"></div>
                </div>
            </div>

            {if $recentPosts}
                <div class="widget">
                    <h3>Recent Posts</h3>
                    <div class="content">
                        <ul>
                            {foreach $p in $recentPosts}
                                <li>
                                    <a href="{$p.url}">{$p.title}</a>
                                </li>
                            {/foreach}
                            </ul>
                    </div>
                    
                    <div class="columnbot"></div>
                </div>
            {/if}

            {if $allTags}
                <div class="widget">
                    <h3>Tags</h3>
                    <div class="content" >
                        <div style="padding: 6px;">
                            {foreach $tag in $allTags}
                                <span>
                                    <a href="{$tag.href}">{$tag.name}</a>
                                </span>
                            {/foreach}
                            </div>
                    </div>

                    <div class="columnbot"></div>
                </div>
            {/if}

            <div class="widget">
                <h3>Powered by</h3>
                <div class="content" >
                    <div style="padding: 10px;">
                        <a href="http://www.sbcl.org/">
                            <img src="/static/archimag/image/sbclbutton.png" alt="SBCL" />
                        </a>

                        <a href="http://weitz.de/hunchentoot/">
                            <img src="/static/archimag/image/hunchentoot10.png" alt="Hunchentoot" />
                        </a>
                    </div>
                </div>

                <div class="columnbot"></div>
            </div>
        </div>

        
        <div id="centersidebar" class="sidebar"> </div>

    </div>
    
    <div class="fixed"></div>
{/template}

{template endBody}
    {literal}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22971320-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    {/literal}
{/template}
