// -*- closure-template-html -*-

{namespace arblog.theme.mirev_archimag.tmpl}

{template startBody}
    <a href="http://github.com/archimag/">
        <img style="position: absolute; top: 0; left: 0; border: 0;"
             src="/static/archimag/image/forkme.png"
             alt="Fork me on GitHub">
    </a>
{/template}

{template pageFooter}
    <div class="right">
        Copyright (c) Moskvitin Andrey <br />
        Powered by
        <a href="http://restas.lisper.ru">RESTAS</a>

        <div id="buttons">
            <a href="http://www.sbcl.org/">
                <img src="/static/archimag/image/sbclbutton.png" alt="SBCL" />
            </a>

            <a href="http://weitz.de/hunchentoot/">
                <img src="/static/archimag/image/hunchentoot10.png" alt="Hunchentoot" />
            </a>

            <a href="http://www.mongodb.org/">
                <img src="/static/archimag/image/logo-mongodb.png" alt="mongoDB" />
            </a>
        </div>
    </div>
    
    <a href="/feeds/atom" class="feed">Posts feed</a>
    {if $disqus.enabled}
        <br />
        <a href="http://{$disqus.shortname}.disqus.com/latest.rss" class="feed">Comments feed</a>
    {/if}
{/template}

{template endBody}
/*     {literal} */
/* <script type="text/javascript"> */
/*   var _gaq = _gaq || []; */
/*   _gaq.push(['_setAccount', 'UA-22971320-1']); */
/*   _gaq.push(['_trackPageview']); */

/*   (function() { */
/*     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; */
/*     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; */
/*     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); */
/*   })(); */
/* </script> */
/*     {/literal} */
{/template}
